@tailwind base;
@tailwind components;
@tailwind utilities;

.style-heading {
  font-family: "Cagliostro", "Segoe UI", "Helvetica", sans-serif;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  letter-spacing: 0.05em;
}

.style-text {
  font-family: "Quicksand", "Segoe UI", "Helvetica", sans-serif;
  letter-spacing: 0.02em;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
